/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('./assets/cityBg.jpg');
    background-repeat: repeat-x;
    background-color: whitesmoke;
    background-size: 100%;
    overflow: hidden;
}