.bg-img
{
    width: 80%;
    height: 85%;
}

.imagen{
    background-image: url('../../assets/io.jpeg');
    background-size: 25vw;
    background-repeat: no-repeat;
    height: 25vw;
    width: 90%;
    left: 50%;
    transform: translate(0, 0%);
    -webkit-clip-path: polygon(0 0, 80% 0, 80% 100%, 0 100%);
    top: 36%;
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}